.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 10000;
  max-width: 350px;
  transition: opacity 0.3s ease-in-out;
}

.toast-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px; /* Ajuste o padding do card-content */
}

.toast-icon {
  margin-right: 10px;
  font-size: 24px;
}

.toast-close-btn {
  color: white;
  margin-left: auto;
}

/* Tipos de Notificação */
.toast-container.success {
  background-color: #4CAF50; /* Verde */
}

.toast-container.error {
  background-color: #F44336; /* Vermelho */
}

.toast-container.warning {
  background-color: #FFC107; /* Amarelo */
  color: #333; /* Texto escuro para contraste */
}

.toast-container.info {
  background-color: #2196F3; /* Azul */
}
