<mat-card *ngIf="currentNotification" class="toast-container" [ngClass]="currentNotification.type">
  <mat-card-content class="toast-content">
    <mat-icon class="toast-icon">
      {{ currentNotification.type === 'success' ? 'check_circle' :
         currentNotification.type === 'error' ? 'error' :
         currentNotification.type === 'warning' ? 'warning' : 'info' }}
    </mat-icon>
    <p>{{ currentNotification.message }}</p>
    <button mat-icon-button class="toast-close-btn" (click)="closeToast()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
